// Specific CSS for your home-page
#hero {
  width: 100vw;
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    display: flex;
    padding-left: 100px;
    padding-top: 270px;
    h2 {
      color: white;
      font-weight: bold;
      font-size: 70px;
    }
  }
}

.container {
  width: 100%;
  // position: relative;
  background-color: #764272;
  .about_us {
    display: flex;
    #text {
      padding-top: 40px;
      padding-left: 20px;
    }
    .logo{

    }
  }
}
