// Specific CSS for your home-page
#hero {
  width: 100vw;
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    padding-left: 100px;
    padding-top: 270px;
    h2 {
      color: white;
      font-weight: bold;
      font-size: 70px;
    }
  }
}

  .buttons {
    display: flex;
    color: white;
    text-decoration: none;
    a {
      text-decoration: none;
      color: white;
    }
    #listnow {
      margin-left: 20px;
      color: white;
      background-color: #121449;
      padding: 8px 10px;
      border-radius: 4px;
      text-decoration: none;
    }
    #rentnow {
      background-color: #121449;
      color: white;
      padding: 8px 10px;
      border-radius: 4px;
      text-decoration: none;
    }
    #rentnow:hover {
      background-color: #F88CA5;
      transition-duration: 0.4s;
      text-decoration: none;
    }
    #listnow:hover {
      background-color: #F88CA5;
      transition-duration: 0.4s;
      text-decoration: none;
    }
  }

.about_us_card {
  width: 80%;
  // position: relative;
  background-color: #EBEBEB;
  margin: 30px auto;
  .about_us {
    display: flex;
    // justify-content: space-around;
    #text {
      padding: 30px;
    }
  }
}
