// Import page-specific CSS files here.
@import "home";
@import "cards-index";
@import "booking";

.title {
  h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
