<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<banner>
 <!--  <img src="<%= image_path('jpeg.jpg') %>" id="hero"> -->
 <div id="hero" style="background-image: url('<%= image_path('jpeg.jpg') %>')">
   <div class="title"><h2>Rent</h2> <h6>(your)</h6> <h2 class="art">Art</h2></div>
 </div>
</banner>
